.registration{
    .form{
      width: 400px;
      .error{
        color: red;
        height: 20px;
        padding: 7px 5px 5px 15px;
      }
      .formLabel{
        padding-top: 15px;
        text-align: center
      }
    }
}