@import '../cards-2.0/src/common/style/Variables';
.container {
  @include authContainer();

  .title {
    @include authTitle();
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
