@import '../cards-2.0/src/common/style/Variables';


.container {
  @include authContainer();

  .FormControl {
    width: 100%;

    .title {
      @include authTitle();
    }

    .wrapper {
      width: inherit;

      .authError{
        @include authError();
      }
      .forgotPassword {
        font-weight: 500;
        margin-top: 20px;
        text-decoration: none;
      }
    }
  }

  .text {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .signUpLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #366EFF;
  }
}
