.content {
    transition: 1s;
    cursor: pointer;
    display: flex;
    gap: 10px;

    &:hover {
        transform: translatex(-10px);
    }

    &:active {
        opacity: 0.3;
    }
}

.text {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

